<div>
    <h2>Declaration of members of the historic nobility, delivered 17 September 1938 to President Edvard
        Benes</h2>

    <p>Mr. President, </p>

    <p>In these difficult days all estates and classes of our nation (narod) unanimously express their will
        to prevent the violation of the historic borders of our state. In the same spirit, a number of
        historic families of our homeland (vlast) would like to present to you similar sentiments. Loyalty
        to the Bohemian (cesky) state, which our ancestors helped to build and to maintain for a thousand
        years, is for us so obvious an obligation that we hesitate to even express it explicitly. We
        consider it our duty to preserve the legacy of our fathers. The Lands of the Bohemian Crown have
        been unified for so long, have survived so many storms, that we trust they will make it through the
        present period of unrest and violence.</p>

    <p>Our desire, that the historic borders of the Bohemian Crown remain unviolated, stems too from concern
        over the future of our descendants as well as from a sense of responsibility for the freedom and
        well-being of Bohemian Germans. Our ancestors always pursued friendly relations between the two
        nations of Bohemia, and we too desire that our German-speaking compatriots might share our love for
        an undivided homeland. We trust that they will. Above all, we hope that Christian fundamentals will
        preserve order and culture in our land. </p>

    <p>Expressing faith in a better future, we assure you that we are conscious of our inherited obligations
        to our homeland and state, a state which was the home of our ancestors and whose historic rights we
        now and have always desired to defend.</p>

    <p>Signed by Karel Schwarzenberg, Jan Lobkowicz, Zdenek Radislav Kinsky, Frantisek Kinsky, Zdenek
        Kolowrat, Rudolf Czernin, Leopold Sternberg, W. Colloredo-Mannsfeld, Karel Parish, Jindrich
        Dobrzensky, Hugo Strachwitz, and Karel Belcredi. </p>

    <p>Translated from the Czech by Eagle Glassheim.</p>

    <p>Source: Archiv Kancelare Prezidenta Republiky (AKPR) D3038/40. </p>

    <p>Copy also reprinted in Frantisek Schwarzenberg. Cesky slechtic Frantisek Schwarzenberg. Praha:
        Rozmluvy, 1990. (Page 253) </p>
</div>