<div>

    <h2>The CSA Discussion List</h2>
    <p>***New: <a href="http://listserv.gmu.edu/cgi-bin/wa?A0=CHC-LIST-L">CSA Listserve Archive and Subscription Management</a></p>

    <p>The Czecholsovak Studies Association maintains a discussion list for the use of its members. Any CSA member may subscribe to the list by following the instructions below.</p>

    <p>The purpose of this list is to provide CSA members with a forum for exchanging ideas, notes about their research, questions, plans for conferences and other messages of general interest to our membership. You should feel free to respond to any posting you receive from the list, but please be advised that this is an <i><b>unmoderated list</b></i>, which means that all postings sent to the list will be immediately distributed to all members without editorial review. This means you should:</p>
    <ul>
        <li>review your message carefully before posting it.</li>
        <li>be careful about replying to any message received from the list. Rather then simply clicking on the reply button in your email program, typing a message and sending it, consider whether you really intend the message to be distributed to the entire list, or if you want your response to go only to the person who wrote the message.</li>
    </ul>

    <p>
        <strong>Subscribing to the CSA mailing lists:</strong>
    </p>

    <p>To subscribe or unsubscribe to the mailing list, please send an e-mail message with your request to: <a href="mailto:tkelly7@gmail.com">Mills Kelly</a>.</p>

    <p>Please remember that this list is <i><strong>unmoderated</strong></i>, so whatever you send to the list will be distributed immediately to list subscribers!</p>
</div>