
<div>

    <h2>Czech Studies Workshop 2011</h2>

    <p>Harriman
        Institute, Columbia University</p>

    <p>New York, NY</p>

    <p><b>Program</b></p>

    <p>Friday, April 29</p>

    <p>10:15-12:00</p>

    <p><u>Session 1:
        National Identity in the Late Habsburg Period
    </u></p>

    <p>Jakub&nbsp;Benes,
        UC Davis: Czech Proletarian Bards and Nationalist Polarization in the Austrian
        Workers’ Movement Before 1914</p>

    <p>Nicholas Sawicki,
        Lehigh University: Nation and Style in Czech Art Criticism at the Turn of the
        Century &nbsp;</p>

    <p>Felix Jeschke,
        University College London: The Electric Railway between Pressburg and Vienna
        1867-1935</p>

    <p>12:00-1:30</p>

    <p>Lunch</p>

    <p>1:30-3:00</p>

    <p><u>Session 2:
        Czech Society in the First Republic
    </u></p>

    <p>Karla Huebner,
        Wright State University: Is There to Be Found a Woman Who Doesn't Love Dance<span>?:</span> Representations of Dance in First Republic Czechoslovakia</p>

    <p>Zachary Doleshal,
        UT Austin: Crime and Punishment in the Kingdom of Shoes: Policing Ba&#357;a’s
        Zl<span>í</span>n</p>

    <p>3:00-3:30</p>

    <p>Coffee break</p>

    <p>3:30-5:00</p>

    <p><u>Session 3:
        World War II and Its Aftermath
    </u></p>

    <p>Lisa Peschel,
        Harvard University: Performing Zionism: A <i>Purimspiel</i> from the Terezín Ghetto</p>

    <p>Eagle Glassheim, University
        of British Columbia: Heimat’s Long Shadow: Human and Natural Ecologies of the
        Czechoslovak Borderlands</p>

    <p>6:00-7:30</p>

    <p>Keynote speech and discussion</p>

    <p>Saturday, April 30</p>

    <p>10:45-12:30</p>

    <p><u>Session 4:
        Postwar Culture and Politics
    </u></p>

    <p>Shawn Clybor,
        Utah State University: Opposition from Within?<span>&nbsp; </span>E. F. Burian, Alexej &#268;epi&#269;ka, and the Czechoslovak
        Ministry of Defense, 1951-1956</p>

    <p>Veronika Tuckerova, Columbia University: Kafka in Samizdat</p>

    <p>Esther Peters,
        University of Chicago: The Ethics of the Hangover: Bohumil Hrabal and Writing
        Properly</p>

    <p>12:30-2:00</p>

    <p>Lunch</p>

    <p>2:00-3:30</p>

    <p><u>Session 5:
        (Post-<span>)Colonialism</span> in Czech Literature and Culture
    </u></p>

    <p>Veronika Pehe,
        University College London: Reading Ivan Olbracht’s Works on Carpathian Ruthenia
        from a Postcolonial Perspective</p>

    <p>Jose Alaniz, University
        of Washington, Seattle: History in Czech Comics: Lucie Lomova’s <i>Divo</i> <i><span>&#353;i</span></i></p>

    <p>3:30-4:00</p>

    <p>Coffee break</p>

    <p>4:00-5:30</p>

    <p><u>Session 6:
        Anthropology and Oral History
    </u></p>

    <p>Heidi Bludau,
        Indiana University: Out of Prague, Out of Europe: Why Czech Nurses Seek Employment
        in Non-European Markets</p>

    <p>Rosie Johnston,
        National Czech &amp; Slovak Museum &amp; Library: Oral History Project
        Preserves, Sheds Light on 20th Century Czech and Slovak History</p>


</div>