<div>
    <h2>Past CSA and CHC newsletters</h2>
    <ul>
        <li><a target="_blank" href="Newsletters/Volume%2031%20No.%202%20Fall%202008.pdf">2008 #2</a></li>
        <li><a target="_blank" href="Newsletters/Volume%2031%20No.%201%20Spring%202008.pdf">2008 #1</a></li>
        <li>For older copies of the newsletter, please contact <a href="mailto:jpetersn@valdosta.edu?subject=Newsletter">James Peterson</a></li>
    </ul>
</div>