<div>

    <h2>CSA Officers for 2016-2019</h2>

    <p><strong>President</strong><br/>
        Kimberly Elman Zarecor<br/>
        Associate Professor<br/>
        Department of Architecture<br/>
        Iowa State University<br/>
        <a href="mailto:zarecor@iastate.edu">zarecor@iastate.edu</a><br/>
    </p>

    <p><strong>Vice-President</strong><br/>
        David L. Cooper<br/>
        Associate Professor<br/>
        Dept. of Slavic Literature and Languages<br/>
        University of Illinois at Urbana-Champaign<br/>
        <a href="mailto:dlcoop@illinois.edu">dlcoop@illinois.edu</a><br/>
    </p>

    <p><strong>At-Large Representatives</strong><br/>
        David Gerlach<br/>
        Associate Professor<br/>
        Department of History<br/>
        St. Peter's University<br/>
        <a href="mailto:dgerlach@saintpeters.edu">dgerlach@saintpeters.edu</a><br/>
    </p>

    <p>Katerina Capkova<br/>
        Research Fellow<br/>
        Institute of Contemporary History, Prague<br/>
        <a href="mailto:capkova@usd.cas.cz">capkova@usd.cas.cz</a><br/>
    </p>

    <p>Thomas Ort<br/>
        Associate Professor<br/>
        Department of History<br/>
        Queens College<br/>
        <a href="mailto:thomas.ort@qc.cuny.edu">thomas.ort@qc.cuny.edu</a><br/>
    </p>

    <p>Jindrich Toman<br/>
        Professor<br/>
        Dept. of Slavic Languages and Literature<br/>
        University of Michigan<br/>
        <a href="mailto:ptydepe@umich.edu">ptydepe@umich.edu</a><br/>
    </p>
</div>
