<div>
    <h2>Stanley Z. Pech Prize</h2>

    <p>At the 1985 annual meeting in Washington, D. C., the CSA adopted a motion by Stanley Winters to create an award to be given every two years for an outstanding article published by a member of the Czechoslovak History Conference, now the Czechoslovak Studies Association. It was later determined to name the award in honor of Stanley Z. Pech.</p>

    <p><strong>2018 PECH PRIZE WINNER (Articles published in 2016-2017)</strong></p>

    <p>For the 2018 competition, the committee received 17 contributions authored or co-authored by 21 members of CSA. Among them, many were of high quality and all highlighted the diverse disciplinary and methodological perspectives within Czechoslovak Studies.</p>

    <p>This year's prize goes to Jakub Beneš for his article, “The Green Cadres and the Collapse of Austria-Hungary in 1918,” <em>Past and Present </em> 236:1 (Aug. 2017), 207-241. <a target="_blank" rel="noopener noreferrer" href="https://doi.org/10.1093/pastj/gtx028"> Online access</a></p>

    <p>Few historians, not to mention the general public, are familiar with the “Green Cadres,” irregular forces of former soldiers and local farmers that banded together at the end of the Habsburg Monarchy. At first glance, this disparate group of ordinary folk might seem peripheral to the central narrative of imperial collapse and the establishment of new national states. In his masterful article, Jakub Beneš demonstrates to the contrary that these seemingly marginal individuals built on revolutionary traditions, threatened longstanding orders, channeled old prejudices, and helped to create new societies. As Beneš traces the changing role of the Green Cadres from bandits to avengers, to national heroes, to social revolutionaries, he shows how an age-old phenomenon, the peasant rebellion, became a critical part of the social and political disintegration of Austria-Hungary and the construction of a new order. In its impressive scope and breadth, the article well represents the aims of the Czechoslovak Studies Association: the article ranges far and wide to introduce us to Green Cadres who operated not only in Bohemia and Moravia, but also in Slovakia, and beyond, in the northeastern and southwestern corners of the empire. Far from a mechanical comparison, the approach is holistically integrative, in that Beneš illustrates how the groups, their aims, and actions developed simultaneously across a Habsburg periphery that existed as much in the margins of its central lands (for example, the Bohemian-Moravian Highlands) as at the edges of the empire (in Galicia). The article at once deepens our knowledge of the Bohemian lands and transforms our understanding of how that supposedly economically advanced territory marched forward (and backwards) together with far- flung agrarian regions. In terms of documentation, the author ingeniously uses an extraordinary range of sources, including obscure autobiographies, local police reports, provincial archives, and theoretical studies of revolutionary peasantry in other parts of the world. In the view of this committee, “The Green Cadres and the Break-up of Austria Hungary in 1918,” is an impressive achievement that forces us to look anew at the most salient Central European events: the revolutions of 1848, World War I, the collapse of the Monarchy, and the foundation of the successor states.</p>

    <p>The committee also awards two honorable mentions this year for other exceptional writing.</p>

    <p>Chad Bryant. “Strolling the Romantic City: Gardens, Panoramas, and Middle-Class Elites in Early Nineteenth-Century Prague,” in C. Bryant et al. (eds.), <em>Walking Histories 1800- 1914 </em>(London: Palgrave McMillian, 2016), pp. 57-85. In a beautifully written essay, Chad Bryant expertly guides readers across and through nineteenth-century Prague, where we follow the emergent middle-classes as they mimicked the originally noble practice of strolling. Bryant argues that as Prague’s middle-class charted new paths along the old city walls and into the wilderness beyond in the decades following the Napoleonic Wars, they established their social standing and privileges. He challenges Raymond Williams’ dichotomy between urban and rural by arguing that Prague’s middle-classes reimagined their city as intimately comingled with the countryside surrounding it. To develop his argument, Bryant draws upon a broad range of primary and secondary literature, including a number of fascinating tourist guidebooks from the nineteenth and early-twentieth centuries. In the view of the committee, “Strolling the Romantic City” is a tour-de-force that evoked comparisons to Carl Schorske’s masterpiece, Fin-de-Siècle Vienna.</p>

    <p>Kateřina Čapková. “Beyond the Assimiliationist Narrative: Historiography on the Jews of the Bohemian Lands and Poland after the Second World War,” <em>Studia Judaica</em> 19:1 (2016), 129-155. In her impeccably argued and meticulously supported article, Kateřina Čapková relies on groundbreaking research to challenge and redefine the central assimilationist narrative of the reestablishment of Jewish life in post-Holocaust Czechoslovakia. Although the paradigmatic history of the postwar period has focused exclusively on assimilated and more secular survivors in Prague, Čapková turns our attention from the center to the periphery, to the former Sudetenland, where thousands of Jews from the former eastern land of Carpathian Ruthenia settled and established traditionally religious communities. Through a fruitful comparison with the history and more developed historiography of Jews in postwar Poland, the article convincingly demonstrates how far the dominant assimilationist model in both countries strayed, and how far it remains still today, from the actual lived experience of those Jews who tried to remain true to their traditions and faith after the Holocaust.</p>

    <p>
            <strong>Prize committee:</strong> <br />
            Benjamin Frommer (chair), Northwestern University<br />
            Mary Samal, Oakland University (Michigan)<br />
            Shawn Clybor, Dwight-Englewood School (New Jersey)<br />
    </p>

    <p><strong>THE NEXT PECH PRIZE COMPETITION</strong></p>

    <p>The next Pech Prize competition will be held in 2020, accepting articles published in 2018 and 2019. The committee will be announced in March 2020.</p>

    <p>The rules for the award are:</p>

    <p>1. The amount of the prize shall be determined by the President of the Czechoslovak Studies Association with the concurrence of the Executive Committee within three months after the biennial election of officers.</p>

    <p>2. Essays submitted shall have been published or accepted for publication in a professional journal or a volume of essays and shall deal with topics of the peoples of Czechoslovakia within and without its historical boundaries.</p>

    <p>3. Other things being equal, the prize judges shall give preference to essays by recent Ph.D.s over others. </p>

    <p>4. Candidates for the prize may be identified by author self nomination, submission by a Czechoslovak Studies Association member, or by members of the Stanley Z. Pech Prize Committee, with the criterion for eligibility being the author's membership in the Czechoslovak Studies Association. </p>

    <p>5. The President of the Czechoslovak Studies Association shall, within three months of his/her election, appoint a Prize Committee of three members, including one member that he/she shall designate as chairperson, which Committee shall evaluate the submitted essays and transmit their decision to the President for announcement and presentation of the Prize at the next annual meeting of the Czechoslovak Studies Association. </p>

    <p>6. One prize only shall be awarded and the name of the recipient shall be the only one to be made public, subject to the decision of the Committee. </p>


<p><strong>PAST PECH PRIZE WINNERS </strong></p>

<p><strong>2014-2015</strong><br />
    David Z. Scheffel, "Belonging and Domesticated Ethnicity in Velky Saris, Slovakia" <em>Romani Studies</em> Vol.25, no. 2 (2015), 115-149.
    <a target="_blank" rel="noopener noreferrer" href="https://doi.org/10.3828/rs.2015.5"> Online access</a></p>

<p><strong>2012-2013</strong><br />
    Thomas Ort, "Cubism's Sex: Masculinity and Czech Modernism, 1911-1914 ," <em>Austrian History Yearbook</em> Vol.44, 2013.</p>

<p><strong>2010-2011</strong><br />
    Tara Zahra, "Imagined Noncommunities: National Indifference as a
    Category of Analysis," <em>Slavic Review</em> Vol. 69, No.1 (Spring, 2010): 93-119.</p>

<p><strong>2008-2009</strong><br />
    Paulina Bren, "Mirror, Mirror, on the Wall...Is the West
    the Fairest of Them All?: Czechoslovak Normalization and Its
    (Dis)contents," <em>Kritika </em>9, no. 4 (2008): 831-854.</p>

<p><strong>2006-2007</strong><br />
    Sheilagh Ogilvie, "'So that Every Subject Knows How to Behave': Social Disciplining in Early Modern Bohemia,"
    <em>Comparative Studies in Society & History,</em> vol. 48, no. 1 (January 2006):
    38-78.</p>

    <p><strong>2004-2005</strong><br />
        Peter Bugge, "The Making of a Slovak City The Czechoslovak Renaming of
        Pressburg/Pozsony/Presporok, 1918-1919," <em>Austrian History Yearbook</em> 35
        (2004): 205-227.</p>

    <p><strong>2002-2003</strong><br />
        Bruce R. Berglund, "Building a Church for a New Age: The Search for a Modern Catholic Art in
        Turn-of-the-century Central Europe," <em>Centropa</em>, vol. 3 no. 3 (September 2003):
        225-240.</p>
    <p><strong>2000-2001</strong><br />
        Katherine David-Fox, "Prague-Vienna, Prague-Berlin: The Hidden
        Geography of Czech Modernism" in <em>Slavic Review</em>, 59, no. 4 (Winter 2000)
        735-760.</p>

    <p><strong>1998-1999</strong><br />
        Karl F. Bahm, "Beyond the Bourgeoisie: Rethinking Nation, Culture and Modernity in Nineteenth-Century
        Central Europe," in <em>Austrian History Yearbook</em>, 29, part 1 (1998) 19-35.<br />
        and Igor Lukes, "The Slansky Affair:
        New Evidence," in <em>Slavic Review,</em> 58, no. 1 (Spring 1999) 160-187.</p>

    <p>
        <strong>1996-1997</strong><br />
        Anna Drabek, "Die Frage der Unterrichtssprache im Konigreich Bohmen im Zeitalter der Aufklarung" in <em>Osterreichische Osthelfte</em> vol.38 (1996): 329-355.
    </p>

    <p><strong>1993-1994</strong><br />
        Claire Nolte, "Our Brothers Across the Ocean: The Czech Sokol in America to 1914," in <em>Czechoslovak and Central European Journal</em> 2, no. 2 (Winter 1993) 15-37.</p>

    <p><strong>1991-1992</strong><br />
        Hillel Kieval, "The Social Vision of Bohemian Jews: Intellectuals and Community in the 1840s" in Jonathan Frankel and Steven J. Zipperstein , eds., <em>Assimilation and Community: The Jews in Nineteenth-Century Europe</em>, Cambridge, New York: Cambridge University Press, 1992.</p>

    <p><strong>1987-1988</strong><br />
        Owen V. Johnson, "Newspapers and Nation-building: The Slovak Press in Pre-1918 Slovakia," in Hans Lemberg et al, eds.,
        <em>Bildungsgeschichte, Bevalkerungsgeschichte: Gesellschaftsgeschichte in den Bohmischen Landern und Europa</em>, Vienna: Verlag fur Geschichte und Politik, 1988, pp. 160-78.</p>

    <p><strong>1985-1986</strong><br />
        Kevin F. McDermott, "Dependence or Independence? Relations between the Red Unions and the Communist Party of Czechoslovakia, 1922-1929," in Stanislav J. Kirschbaum, ed., <em>East European History: Selected Papers of the Third World Congress for Soviet and East European Studies</em>, Columbus, OH: Slavica Publishers, 1988, pp. 157-83.</p>

</div>