header {
    display: flex;
}
#header_left_column, #header_right_column {
    line-height: 1.6rem;
    padding: 1rem;
    border: 1px solid red;
}

#header_main_column {
    display: inline-block;
    flex: 1 auto;
}

header {
    vertical-align: top;
}

header h1 {
    display: inline-block;
    font-size: 3.6rem;
    margin-top: 3rem;
    margin-left: 3rem;
    font-weight: 400;
    color: #384048;
    vertical-align: top;
    text-transform: uppercase;
}