

nav {
    font-size: 0px;
    display: block;
    background-color: #033f63;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    line-height: 1.4rem;
}

nav a:hover {
    color: inherit;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #ededed;
}

nav a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

nav > ul > li {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: .4rem 1.2rem 2rem;
    transition: all .6s cubic-bezier(.25,.8,.25,1);
    font-size: 1.1rem;
    margin: 0px !important;
    border: none;
    z-index: 10;
    height: 2rem;
    position: relative;
}

nav > ul > li.current {
    border-bottom: 4px solid #1a82e2;

}

nav > ul > li:hover {

    background-color: #045789; /*#f3f3f3;*/
}

nav > ul > li > a {
    display: block;
    box-sizing: border-box;
}

li.submenu-root.hover {
    cursor: pointer;
}

li.submenu-root > span:after {
    content: "\25BC";
    padding-left: .3rem;
    font-size: .5rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: inherit;
    opacity: 1;
}

li.submenu-root.hover > span:after {
    opacity: 0;
}

/*
li.submenu-root.force-close:hover ul {
    display: none !important;
}
*/

li.submenu-root:hover:after {
    content:"\25B2";
    padding-left: .6rem;
    font-size: 1.2rem;
    color: #eaeaea;
    width: 100%;
    display: block;
    z-index: 20;
    position: absolute;
    /*margin-top: -.3rem;*/
    top: 1.6rem;
    font-size: 22px;
    height: 24px;
    box-sizing: border-box;
}

li.submenu-root ul {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 0px;
    overflow: hidden;
    width: 150px;
    padding: 0px;
    margin: 0px;
    background-color: #eaeaea;
    color: #3a3a3a;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    left: 0rem;
    top: 38px;
    z-index: 20;

}

li.submenu-root ul li {
    margin: 0rem;
    padding: 0rem;
    border: 1px solid #ededed;
    border-width: 0px 0px 1px 0px;
    background-color: inherit;
    opacity: 1;
}

li.submenu-root ul li:last-child {
    border: none;
}

li.submenu-root ul li a {
    padding: .4rem .6rem;

}

li.submenu-root.hover ul {
    display: block;
    height: 180px;
    /*box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    box-shadow: .1rem 0.1rem 0.1rem rgba(0,0,0,0.24);
    padding-top: .4rem;
    z-index: 9999;
    opacity: 1;
    position: absolute;
}

.hover {
    z-index: 9999;
}

li.submenu-root.hover#nav_resources ul {
    height: 400px;
    width: 280px;
}

li.submenu-root ul li:hover {
    background-color: #f3f3f3;
}
